@using AdvocatApp.BL.DTO
@model IEnumerable<PageDTO>


<h4>Правовые новости</h4>
<p>
     @foreach (PageDTO page in Model)
     {
                    <div class="pages">
                        <a class="NewsLink" href="#"><h5>@page.Header</h5></a>
                                <input class="textSt" type="hidden" value="@page.Text" />
                                <div class="textSite">
                                </div>
                                <br />
        <p class="dateOfCreating">@page.Date.Day.ToString():@page.Date.Month.ToString():@page.Date.Year.ToString() </p>
    
                <p>
                    @Html.ActionLink("See", "Page/" + page.Id.ToString()) |
                    @Html.ActionLink("Edit", "EditPage/" + page.Id.ToString()) |
                    @Html.ActionLink("Delete", "DeleteP/" + page.Id.ToString())
                </p>
</div>
            }
</p>



