@using AdvocatApp.BL.DTO
@model PageDTO
@{
    ViewBag.Title = "Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Page</h2>

<h3>@Model.Header</h3>

<input id="textSt" type="hidden" value="@Model.Text" />
<div id="textSite">
</div>

@if (Model.VideoURL!=null)
{
    if (Model.VideoURL != "")
    {
        <iframe width="560" height="315" src="@Model.VideoURL" frameborder="0" allowfullscreen></iframe>
    }
}

@section scripts{
<script src='@Url.Content("~/Scripts/PageScript.js")'>
</script> 
    <script src='@Url.Content("~/Scripts/PageScript.js")'>
    </script>    
}