@model AdvocatApp.BL.DTO.PageDTO

<div class="pages">
    <h5>@Model.Header</h5>
        @if (Model.VideoURL != null)
        {
            if (Model.VideoURL != "")
            {
                <iframe class="youtube" src="@Model.VideoURL" frameborder="0" allowfullscreen></iframe>
            }
        }

    <input class="textSt" type="hidden" value="@Model.Text" />
    <div class="textSite">
    </div>
    
    <br />
    <p class="dateOfCreating">@Model.Date.Day.ToString():@Model.Date.Month.ToString():@Model.Date.Year.ToString() </p>

    <p class="linksPage">
        @Html.ActionLink("Edit", "EditPage/" + Model.Id.ToString()) |
        @Html.ActionLink("Delete", "DeleteP/" + Model.Id.ToString())
    </p>
</div>
