@using AdvocatApp.BL.DTO
@model IEnumerable<PageDTO>

<h4>Статьи</h4>


    @foreach (PageDTO page in Model)
    {
        <div class="pages">
            <input type="hidden" class="pId" value="@page.Id" />
            <button class="statieBut"><h5>@page.Header</h5></button>
            <p>@page.Name</p>
            <p>
                @Html.ActionLink("Edit", "EditPage/" + page.Id.ToString()) |
                @Html.ActionLink("Delete", "DeleteP/" + page.Id.ToString())
            </p>
            <p class="dateOfCreating">@page.Date.Day.ToString():@page.Date.Month.ToString():@page.Date.Year.ToString() </p>
        </div>
    }