@using AdvocatApp.BL.DTO
@model IEnumerable<PageDTO>

<h4>Статьи</h4>


    @foreach (PageDTO page in Model)
    {
        <div class="pages">
            <h5>@page.Header</h5>
            <p>
                @Html.ActionLink("See", "Page/" + page.Id.ToString()) |
                @Html.ActionLink("Edit", "EditPage/" + page.Id.ToString()) |
                @Html.ActionLink("Delete", "DeleteP/" + page.Id.ToString())
            </p>
            <p class="dateOfCreating">@page.Date.Day.ToString():@page.Date.Month.ToString():@page.Date.Year.ToString() </p>
        </div>
    }