@using AdvocatApp.BL.DTO
@model IEnumerable<PageDTO>

    <p>
        @foreach (PageDTO page in Model)
        {
            <div class="pages">
                <h5>@page.Header</h5>
                @if (page.VideoURL != null)
                {
                    if (page.VideoURL != "")
                    {
                        <iframe class="youtube" width="460" height="415" src="@page.VideoURL" frameborder="0" allowfullscreen></iframe>
                    }
                }
                
                <p>
                    <input class="textSt" type="hidden" value="@page.Text" />
                    <div class="textSite"></div>
                </p>
                <p class="dateOfCreating">@page.Date.Day.ToString():@page.Date.Month.ToString():@page.Date.Year.ToString() </p>
                <p>
                    @Html.ActionLink("See", "Page/" + page.Id.ToString()) |
                    @Html.ActionLink("Edit", "EditPage/" + page.Id.ToString()) |
                    @Html.ActionLink("Delete", "DeleteP/" + page.Id.ToString())
                </p>
            </div>
        }
    </p>
