@using AdvocatApp.BL.DTO
@model IEnumerable<PageDTO>

<h4>Объявления и уведомления</h4>

<p>
    @foreach (PageDTO page in Model)
    {
        <div class="pages">
            <h5>@page.Header</h5>
            <p>
                <input class="textSt" type="hidden" value="@page.Text" />
                <div class="textSite"></div>
            </p>
            <p>
                @Html.ActionLink("Edit", "EditPage/" + page.Id.ToString()) |
                @Html.ActionLink("Delete", "DeleteP/" + page.Id.ToString())
            </p>
            <p class="dateOfCreating">@page.Date.Day.ToString():@page.Date.Month.ToString():@page.Date.Year.ToString() </p>
        </div>
    }
    </p>