@using AdvocatApp.BL.Authorization.DTO
@model AdminDTO
@{
    ViewBag.Title = "Наши контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div id="pageTextVideo" class="col-sm-10 push-sm-1 pageHead">
        <div class="pages">
            <h4>Наши контакты:</h4>
            <hr />
            <p>
                <input class="textSt" type="hidden" value="@Model.TextForContacts" />
                <div class="textSite"></div>
            </p>
            <hr />
            <h5>Мои контакты:</h5>
            <div style="padding-left:20px">
                <p>
                    Телефон: <tel>@Model.Phone</tel>
                    @if (Model.AnotherPhone != null)
                    {
                        <span>или </span><tel>@Model.AnotherPhone</tel>
                    }
                </p>
                <p>
                    E-mail: @Model.Email
                </p>
                @if (Model.Address != null)
                {
                    <p>
                        Наш адрес: @Model.Address
                    </p>
                }
            </div>
            <hr />
            @if (Model.Vk != null || Model.Facebook != null || Model.Twitter != null || Model.GooglePl != null
            || Model.GooglePl != null || Model.Youtube != null)
            {
                <h5>Дополнительные контакты:</h5>
            }
            <div style="padding-left:20px">
                @if (Model.Vk != null)
                {
                    <b>ВКонтакте:</b> <p>@Model.Vk</p>
                }
                @if (Model.Facebook != null)
                {
                    <b>Facebook:</b> <p>@Model.Facebook</p>
                }
                @if (Model.Twitter != null)
                {
                    <b>Twitter:</b> <p>@Model.Twitter</p>
                }
                @if (Model.GooglePl != null)
                {
                    <b>Google+:</b> <p>@Model.GooglePl</p>
                }
                @if (Model.Youtube != null)
                {
                    <b>Youtube:</b> <p>@Model.Youtube</p>
                }
            </div>
            <hr />
            <div class="yand">
                <div class="M1">
                @if (Model.Map1 != null)
                {
                    <h5>Наши офисы:</h5>
                    <p><b>@Model.ForMap1</b></p>
                    <input class="textSt" type="hidden" value="@Model.Map1" />
                    <div class="textSite"></div>
                    <hr />
                }
                </div>
                <div class="M2">
                @if (Model.Map2 != null)
                {
                    <p><b>@Model.ForMap2</b></p>
                    <input class="textSt" type="hidden" value="@Model.Map2" />
                    <div class="textSite"></div>
                    <hr />
                }
                </div>
                <div class="M3">
                @if (Model.Map3 != null)
                {
                    <p><b>@Model.ForMap3</b></p>
                    <input class="textSt" type="hidden" value="@Model.Map3" />
                    <div class="textSite"></div>
                }
                </div>
            </div>
            <div class="yandMobile">
                <div class="M1m">
                @if (Model.Map1M != null)
                {
                    <h5>Наши офисы:</h5>
                    <p><b>@Model.ForMap1<b/></p>
                    <input class="textSt" type="hidden" value="@Model.Map1M" />
                    <div class="textSite"></div>
                    <hr />
                }
                </div>
                <div class="M2m">
                @if (Model.Map2M != null)
                {
                    <p><b>@Model.ForMap2<b/></p>
                    <input class="textSt" type="hidden" value="@Model.Map2M" />
                    <div class="textSite"></div>
                    <hr />
                }
                </div>
                <div class="M3m">
                @if (Model.Map3M != null)
                {
                    <p><b>@Model.ForMap3</b></p>
                    <input class="textSt" type="hidden" value="@Model.Map3M" />
                    <div class="textSite"></div>
                }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src='@Url.Content("~/Scripts/PageScript.js")'>
    </script>

}