@using AdvocatApp.BL.Authorization.DTO
@model AdminDTO
@{
    ViewBag.Title = "Наши контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div id="pageTextVideo" class="col-sm-12 pageHead">
        <div class="pages">
            <h4>Наши контакты:</h4>
            <hr />
            <p>
                <input class="textSt" type="hidden" value="@Model.TextForContacts" />
                <div class="textSite"></div>
            </p>
            <hr />
            <h5>Мои контакты:</h5>
            <div style="padding-left:20px">
                <p>
                    Телефон: <tel>@Model.Phone</tel>
                    @if (Model.AnotherPhone != null)
                    {
                        <span>или </span><tel>@Model.AnotherPhone</tel>
                    }
                </p>
                <p>
                    E-mail: @Model.Email
                </p>
                @if (Model.Address != null)
                {
                    <p>
                        Наш адрес: @Model.Address
                    </p>
                }
            </div>
            <hr />
            @if (Model.Vk != null || Model.Facebook != null || Model.Twitter != null || Model.GooglePl != null
            || Model.GooglePl != null || Model.Youtube != null)
            {
                <h5>Дополнительные контакты:</h5>
            }
            <div style="padding-left:20px">
                @if (Model.Vk != null)
                {
                    <b>ВКонтакте:</b> <p>@Model.Vk</p>
                }
                @if (Model.Facebook != null)
                {
                    <b>Facebook:</b> <p>@Model.Facebook</p>
                }
                @if (Model.Twitter != null)
                {
                    <b>Twitter:</b> <p>@Model.Twitter</p>
                }
                @if (Model.GooglePl != null)
                {
                    <b>Google+:</b> <p>@Model.GooglePl</p>
                }
                @if (Model.Youtube != null)
                {
                    <b>Youtube:</b> <p>@Model.Youtube</p>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src='@Url.Content("~/Scripts/PageScript.js")'>
    </script>
}