@using AdvocatApp.BL.DTO
@model IEnumerable<PageDTO>

<h4>Статьи</h4>

<div class="navmenu navmenu-default navmenu-left offcanvas-sm statieMenu">
    <ul class="nav navmenu-nav">
        @foreach (IGrouping<string, PageDTO> key in Model.GroupBy(m => m.Name))
        {
            if (key.Key == null || key.Key == "")
            {
                foreach (PageDTO page in key)
                {
                    <li class="stdLi">
                        <div class="pages">
                            <input type="hidden" class="pId" value="@page.Id" />
                            <button class="statieBut"><h5>@page.Header</h5></button>
                        </div>
                    </li>
                }
            }
            else
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h5>@key.Key<b class="caret"></b></h5></a>
                    <ul class="dropdown-menu navmenu-nav">
                        @foreach (PageDTO page in key)
                        {
                            <li>
                                <div class="pages">
                                    <input type="hidden" class="pId" value="@page.Id" />
                                    <button class="statieBut"><h5>@page.Header</h5></button>
                                </div>
                            </li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>
</div>