@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Администратирование  @ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet"/>
</head>
<body>
    <div id="#header">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <h2>Корпоративный правовой центр</h2>
                <div class="rightMobile">
                    <p>Phone: 89160161601</p>
                </div>    
            </div>
        </div>
    </div>
        <div class="navbar navbar-default navbar-fixed-top navbar-1">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("My Site - admin view", "Index", "Admin", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("To main", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Quesions", "Questions", "Admin")</li>
                        <li>@Html.ActionLink("Edit information about me", "EditAbout", "Admin")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="admin-content" class="col-xs-10 col-xs-offset-1">
            @RenderBody()
        </div>
    </div>
    <<div class="navbar navbar-default navbar-fixed-buttom footer">
         <div class="container">
             <div class="navbar-header">
                 <h2>Footer</h2>
                 <p>text of Footer</p>
             </div>
         </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
