@model AdvocatApp.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@Html.BeginForm("Login","Account",FormMethod.Post)
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<br />
    @Html.EditorFor(model=>model.Email)
@Html.ValidationMessageFor(model => model.Email)
<br />
    @Html.EditorFor(model=>model.Password)
@Html.ValidationMessageFor(model => model.Password)
<br />
    <p><input type="submit" value="Send"/></p>
}

